.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 100%;

  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 9fr;
}

.header {
  grid-area: h;
  background-color: aqua;
  font-size: 140%;
  text-align: center;
  font-style: italic;
  font-weight: 900;
  color: black;
}
.header img {
  width: 6%;
  height: 76%;
}

.nav {
  grid-area: n;
  background-color: aqua;
}

a {
  text-decoration: none;
}

.link {
  margin-left: 5%;
}

.content {
  grid-area: c;
  background-color: aquamarine;
}
.ava {
  width: 10%;
  border-radius: 1em;
}

.active {
  font-weight: bold;
}

.contentDiologov {
  background-color: aquamarine;
  display: flex;
}

.mess {
  margin-left: 10%;
}
